* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
p {
  width: 90%;
  max-width: 30rem;
  margin: 5rem auto 0 auto;
}
.tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
[data-tooltip-text] {
  display: inline-block;
}
